{% extends "base.html.twig" %}

{% block title %}Black Jack{% endblock %}

{% block body %}
<h1>Black Jack</h1>
<h2>Dealer</h2>

<ul>
    {% for card in dealer %}
        <li>{{ card.card|raw }}</li>
    {% endfor %}
</ul>
<p>Tot: {{ dealerPoints }}</p>


<h2>Player</h2>

<ul>
    {% for card in player %}
        <li>{{ card.card|raw }}</li>
    {% endfor %}
</ul>
<p>Tot: {{ playerPoints }}</p>

<p>Coins: {{ coins }}</p>

{% if playerPoints < 21 %}
<form action="{{ path('add_card') }}" method="post">
    <button type="submit">Hit</button>
</form>
<form action="{{ path('stand') }}" method="post">
    <button type="submit">Stand</button>
</form>
{% else %}
    <form action="{{ path('add_card') }}" method="post">
        <button type="submit" disabled>Hit</button>
    </form>
    <form action="{{ path('stand') }}" method="post">
        <button type="submit" disabled>Stand</button>
    </form>
{% endif %}

{% if split %}
    <form action="{{ path('split') }}" method="post">
        <button type="submit">Split</button>
    </form>

    {% else %}
        <form action="{{ path('split') }}" method="post">
            <button type="submit" disabled>Split</button>
        </form>
{% endif %}

{% endblock %}