{% extends "projectBase.html.twig" %}

{% block title %}Black Jack{% endblock %}

{% block body %}

<h1>Black Jack</h1>
<h2>Dealer</h2>

{% if data.game_started == true %}
    <ul>
        {% for card in data.dealer_card_one %}
            <li>{{ card.card|raw }}</li>
        {% endfor %}
        <li>?</li>
    </ul>
    <p>Points: {{ data.dealer_points_start }}</p>
{% else %}
    <ul>
        {% for card in data.dealer_card_one %}
            <li>{{ card.card|raw }}</li>
        {% endfor %}
        {% for card in data.dealer_card_two %}
            <li>{{ card.card|raw }}</li>
        {% endfor %}
        {% for card in data.dealer_cards %}
            <li>{{ card.card|raw }}</li>
        {% endfor %}
    </ul>
    <p>Points: {{ data.dealer_points }}</p>
{% endif %}

<h2>Player</h2>
<ul>
    {% for card in data.player_cards %}
        <li>{{ card.card|raw }}</li>
    {% endfor %}
</ul>
<p>Points: {{ data.player_points }}</p>

<p>Coins: {{ data.coins }}</p>

{% if data.game_started == true %}
<a href="{{ path('add_card') }}">
    <button type="button">Hit</button>
</a>
<a href="{{ path('stand') }}">
    <button type="button">Stand</button>
</a>
<a href="{{ path('split') }}">
    <button type="button" {% if data.player_cards[0].value != data.player_cards[1].value %}disabled{% endif %}>
        Split
    </button>
</a>
{% endif %}

<a href="{{ path('reset') }}">
    <button type="button">Reset</button>
</a>

{% endblock %}
