{% extends "projectBase.html.twig" %}

{% block title %}Black Jack{% endblock %}

{% block body %}

<h1>Black Jack</h1>
<h2>Dealer</h2>

{% if data.game_started == true %}
    <ul>
        {% for card in data.dealer_card_one %}
            <li>{{ card.card|raw }}</li>
        {% endfor %}
        <li>?</li>
    </ul>
    <p>Points: {{ data.dealer_points_start }}</p>
{% else %}
    <ul>
        {% for card in data.dealer_card_one %}
            <li>{{ card.card|raw }}</li>
        {% endfor %}
        {% for card in data.dealer_card_two %}
            <li>{{ card.card|raw }}</li>
        {% endfor %}
        {% for card in data.dealer_cards %}
            <li>{{ card.card|raw }}</li>
        {% endfor %}
    </ul>
    <p>Points: {{ data.dealer_points }}</p>
{% endif %}

<h2>Player</h2>
<h3>Hand 1</h3>
<ul>
    {% for card in data.hand1 %}
        <li>{{ card.card|raw }}</li>
    {% endfor %}
</ul>
<p>Points hand 1: {{ data.hand1Points }}</p>

<a href="{{ path('add_split') }}">
    <button type="button" {% if data.active_hand != 'hand1' %}disabled{% endif %}>
        Hit
    </button>
</a>

<a href="{{ path('stand_split') }}">
    <button type="button" {% if data.active_hand != 'hand1' %}disabled{% endif %}>
        Stand
    </button>
</a>

<h3>Hand 2</h3>
<ul>
    {% for card in data.hand2 %}
        <li>{{ card.card|raw }}</li>
    {% endfor %}
</ul>
<p>Points hand 2: {{ data.hand2Points }}</p>

<a href="{{ path('add_split') }}">
    <button type="button" {% if data.active_hand != 'hand2' %}disabled{% endif %}>
        Hit
    </button>
</a>
<a href="{{ path('stand_split') }}">
    <button type="button" {% if data.active_hand != 'hand2' %}disabled{% endif %}>
        Stand
    </button>
</a>

<p>Coins: {{ data.coins }}</p>

<a href="{{ path('reset') }}">
    <button type="button">Reset</button>
</a>

{% endblock %}
