{% extends "base.html.twig" %}

{% block title %}Game Over{% endblock %}

{% block body %}
<h1>Game Over</h1>

<h2>{{ data.result }}</h2>

<h3>Dealer</h3>
<p>Points: {{ data.dealer_points }}</p>
<ul>
        {% for card in data.dealer_card_one %}
            <li>{{ card.card|raw }}</li>
        {% endfor %}
        {% for card in data.dealer_card_two %}
            <li>{{ card.card|raw }}</li>
        {% endfor %}
        {% for card in data.dealer_cards %}
            <li>{{ card.card|raw }}</li>
        {% endfor %}
    </ul>
    <p>Points: {{ data.dealer_points }}</p>


<h3>Player</h3>
<p>Points: {{ data.player_points }}</p>
<ul>
    {% for card in data.player_cards %}
        <li>{{ card.card|raw }}</li>
    {% endfor %}
</ul>
<p>Points: {{ data.player_points }}</p>

<a href="{{ path('reset') }}">
    <button>Spela igen</button>
</a>
{% endblock %}